.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	margin: auto;
	width: 80%;

	h1 {
		color: black;
	}

	table {
		& .month {
			background-color: azure;
			height: 5rem;
			width: 80%;
			box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
			border-radius: 5px;
			padding: 1rem;
		}
		& tr:last-of-type td:last-of-type {
			text-align: right;
		}
		& .button {
			margin: 0.75rem 0;
			cursor: pointer;
		}
	}

	& .calendar {
		align-items: stretch;
		border: 1px solid #ccc;
		box-shadow: 0px 0px 10px 5px rgba(105, 105, 107, 1);
		display: flex;
		height: max-content;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding: 1rem;
		width: 65vh;

		& .month {
			align-items: center;
			box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.75);
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0.5rem;
			width: 30%;

			& > div span {
				font-weight: bold;

				> span {
					font-size: 0.85rem;
				}
			}
			& .week {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				width: 98%;
				height: 15%;
				margin: 3px auto;

				// day
				& span {
					background-color: aliceblue;
					display: flex;
					width: 12%;
					font-size: 0.7rem;
					justify-content: center;
					align-items: center;
					height: 100%;

					&.today {
						background-color: darken(aliceblue, 50);
					}
				}
				& span[data-day-id] {
					cursor: pointer;
				}
			}
		}
	}
}

/*  ========= ALARM WINDOW =============== */

/* style the alarmwindow */
.alarmWindow {
	box-shadow: 0px 0px 10px 5px rgba(105, 105, 107, 1);
	display: flex;
	flex-direction: column;
	height: 25vh;
	justify-content: space-between;
	padding: 1rem;
	width: 33vh;
	position: absolute;
	top: 10vh;
	background-color: #e0e6ec;

	/* add right margin to input field labels  */
	& label {
		margin-right: 1rem;
		font-size: 0.85rem;
		font-weight: bold;
	}
	& input,
	.alarmWindow textarea {
		border: 2px inset #ccc;
	}
	/* style the window title container */
	& .windowTitle {
		background-color: #ed181c;
		color: #fff;
		display: flex;
		justify-content: center;
		margin: 0 -1rem;
		padding-right: 1rem;

		/* center the windowe title and right-align the close button */
		& span {
			margin-left: auto;
		}

		/* close button */
		& .close {
			cursor: pointer;
			color: white;
		}
	}
	/* layout of time input and subject input container */
	& .alarmTitle,
	.alarmTime {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;

		/* vertically align alarmwindow input field should*/
	}
	& .alarmTitle input {
		flex-grow: 2;
	}
	& .alarmTime input[type="datetime-local"] {
		/* size width of time input field  */
		flex-grow: 0.5;
	}
	/* size the textarea */
	& textarea {
		min-height: 33%;
	}
	/* layout of the buttons */
	& .buttons {
		display: flex;
		justify-content: flex-end;
		& button {
			background-color: #007bff;
			color: white;
			border: 1px solid transparent;
			border-color: #007bff;
			border-radius: 0.25rem;
			padding: 0.375rem 0.75rem;

			&:last-of-type {
				margin-left: 1rem;
			}
		}
	}
}

/* styles to hide and view an element */
.d-none {
	display: none;
}
